<div class="container">
  <div class="row">
    <h1 class="px-5 mx-auto">
      About
    </h1>
    <h3 class="text-center mx-auto">
      トラベルレビューは自身が観光した場所を投稿したり、他のユーザーの投稿に<br />
      コメントしたりできるコミュニティサイトです。<br />
      観光場所の検索にご利用いただければ幸いです。
    </h3>
  </div>
</div>